{% extends 'base.html' %}
{% block content %}
<main class="container-fluid px-5">
  <!-- Encabezado con botón -->
  <div class="d-flex justify-content-between align-items-center py-2">
    <h1 class="display-3">Clientes</h1>
    <a href="{% url 'crear_clientes' %}" class="btn btn-primary d-flex align-items-center justify-content-center">
      <i class="fas fa-plus me-2"></i> Crear Cliente
    </a>
  </div>
  

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Correo</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Género</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>

    <tbody>
      {% for cliente in clientes %}
      <tr>
        <th scope="row">{{ cliente.id }}</th>
        <td>{{ cliente.nombre }}</td>
        <td>{{ cliente.correo }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>{{ cliente.genero }}</td>
        <td>
          <!-- Icono para Ver -->
          <a href="{% url 'cliente_detail' cliente.id%}" class="btn btn-sm btn-info" title="Ver">
            <i class="fas fa-eye"></i>
          </a>
          <!-- Icono para Eliminar -->
          <form action="{% url 'delete_cliente' cliente.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-danger" title="Eliminar">
                <i class="fas fa-trash-alt"></i>
            </button>
        </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock %}
