{% extends 'base.html' %}

{% block content %}
<main class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form action="{% url 'crear_clientes' %}" method="POST" class="card card-body shadow">
      <h1 class="mb-4">Crear Cliente</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Guardar</button>
      </form>
    </div>
  </div>
</main>

<!-- SweetAlert2 -->
<script>
  // Mensaje de éxito
  {% if messages %}
    {% for message in messages %}
    Swal.fire({
      icon: "{{ message.tags }}", // 'success', 'error', etc.
      title: "{{ message }}",
      showConfirmButton: false,
      timer: 2000 // Duración del mensaje
    }).then(() => {
      {% if redirect_url %}
        // Redirige después del mensaje
        window.location.href = "{{ redirect_url }}";
      {% endif %}
    });
    {% endfor %}
  {% endif %}
</script>
{% endblock %}
