{% extends 'base.html' %} {%block content%}
<main class="container py-2">
  <section class="card card-body">
    <h1 class="display-1 text-center">SPATAN TEAM</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec justo
    eu velit pellentesque malesuada. Vivamus ac felis ac metus tincidunt egestas.
    Aenean cursus nunc at felis gravida, nec laoreet odio auctor. Nulla facilisi.
    Fusce eget risus non lectus fermentum fermentum. Integer hendrerit turpis ut
    ligula iaculis, quis auctor velit pharetra. Sed vehicula dolor ac dolor
    dictum, nec laoreet risus eleifend. Suspendisse potenti. Curabitur at nisl id
    metus tempor convallis. Proin tincidunt, augue vel varius bibendum, ligula
    mauris tincidunt urna, sit amet efficitur arcu tortor in turpis.
  </p>
  <div class="text-center">
    <a href="/signin/" class="btn btn-secondary">Signin</a>
    <a href="/signup/" class="btn btn-dark">Signup</a>
  </div>
  </section>
</main>
{%endblock%}
