{% extends 'base.html' %}
{% block content %}
{% load static %}
<main class="container-fluid px-5">
  <!-- Encabezado con botón -->
  <div class="page-header">
    <h1>Membresias</h1>
    <small>Home / Membresias</small>
</div>

  <div class="records table-responsive">

    <div class="record-header">
        <div class="add">
            <span>Entries</span>
            <select name="" id="">
                <option value="">ID</option>
            </select>
            <button>Agregar Membresia</button>
        </div>

        <div class="browse">
           <input type="search" placeholder="Search" class="record-search">
            <select name="" id="">
                <option value="">Status</option>
            </select>
        </div>
    </div>

    <div>
        <table width="100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th><span class="las la-sort"></span> TIPO</th>
                    <th><span class="las la-sort"></span> CLIENTE</th>
                    <th><span class="las la-sort"></span> PRECIO</th>
                    <th><span class="las la-sort"></span> STATUS</th>
                    <th><span class="las la-sort"></span> ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                {% for membresia in membresias %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <div class="client">
                           <div class="client-img bg-img" style="background-image: url({%static 'images/customer02.jpg'%})"></div>
                            <div class="client-info">
                                <h4>{{ membresia.tipo }}</h4>
                                <small>{{ membresia.creado_el }}</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        {{ membresia.cliente.nombre }}
                    </td>
                    <td>
                        {{ membresia.precio }}
                    </td>
                    <td>
                        {{ membresia.estado }}
                    </td>
                    <td>
                        <div class="actions">
                            <i class="fas fa-edit" title="Editar"></i> <!-- Editar -->
                            <i class="fas fa-trash-alt" title="Eliminar"></i> <!-- Eliminar -->
                        </div>
                        
                        
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

</div>
  

</main>
{% endblock %}
