{%extends 'base.html'%} {%block content%}
<main class="container py-3">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      
      <form method="POST" class="card card-body shadow">
        <h1>{{membresia.tipo}} {{membresia.cliente.nombre}}</h1>
        {% csrf_token %} {{form.as_p}}
        <button class="btn btn-primary">Actualizar</button>
      </form>
    </div>
  </div>
</main>

<script>
  // Mensaje de éxito
  {% if messages %}
    {% for message in messages %}
    Swal.fire({
      icon: "{{ message.tags }}", // 'success', 'error', etc.
      title: "{{ message }}",
      showConfirmButton: false,
      timer: 2000 // Duración del mensaje
    }).then(() => {
      {% if redirect_url %}
        // Redirige después del mensaje
        window.location.href = "{{ redirect_url }}";
      {% endif %}
    });
    {% endfor %}
  {% endif %}
</script>

{%endblock%}
